/*
Wedding Landing Page
font-family: 'Quicksand', sans-serif;
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1{
  font-size: 60px;
  font-weight: 300;
  opacity: 0.8;
}

footer{
  font-size: 20px; 
  text-align: center;
}
/******************************************
/* LAYOUT
/*******************************************/

.banner{
  width: 100%;
  height: 20%;
  margin-top: 50px;
  text-align: center;
  font-weight: 300; 
}

.date{
  width: 100%;
  height: 15%;
  margin-top: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

hr{
  margin-top: 20px;
  width: 90%;
}

.mainPhoto{
/*  width: 70%;*/
  max-height: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
}

.bridgeMain{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  opacity: .9;
 /* margin: left;
*/  /*height: 400px;*/
}

.welcomeMessage{
  background: #EEEEEE;
  width: 100%;
  height: 30%;
  margin-top: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  opacity: 0.6;
}

.welcomeMessage span{
  font-size: 50px;
  font-weight: 400;
}

.welcomeMessage p{
  margin: auto 0;
  margin-top: 18px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
  opacity: 0.8;
  line-height: 150%
}

.welcomeMessage p.signature{
  font-weight: 400;
  text-align: right;
}

.welcomeMessage:hover{
  opacity: 0.9;
  transition: opacity .4s ease-out;
}


ul.img-list .clearfix {
  list-style-type: none;
 /* margin-left: 30px;
  margin-right: 30px;*/
  padding: 0;
  text-align: center;
  width: 100%;
}

ul.img-list li{
  display: inline-block;
  /*height: 478.63;*/
  margin: 5.5%;
  position: relative;
  max-width: 20.3%;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  font-weight: 400;
  font-size: 25px;
  cursor: pointer;
  display: table;
  /*height: 478.63px;*/
  left: 0;
  position: absolute;
  top: 0;
  /*width: 350px;*/
  max-width: 20%;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


span.text-content {
  background: rgba(0,0,0,0.35);
  color: white;
  cursor: pointer;
  display: table;
  height: 478.63px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

footer{
  width: 100%;
  height: 80%;
  padding-top: 8%;
  padding-right: 1%;
  padding-left: 5%;
  padding-bottom: 1%;
  margin-bottom: 0;
  font-size: 1  10px;
  background: #EEEEEE;
  text-align: right;
  font-size: 20px;

}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.nav {
  position:relative;
  display:inline-block;
  font-size: 14px;
  font-weight: 900;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-left: 0%;
  margin-right: 0%;
  padding: 1.5%;
  width: 100%;
  float: right;
}
/*.nav-list {   
  
}*/
/*.nav-item {
  float:left;
  text-align: center;
  display:inline;*/
 /* zoom:1;*/
/*}
.nav-item a {
  display:block;
  padding:15px 20px;
  color:black;
  background: white;
  text-decoration: none;
}
.nav-item:first-child a {
  border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
  border-radius:0 5px 5px 0;
}
.nav-item a:hover {
*/ /* background:#EEEEEE;*/
 /*-webkit-transform:scale(1.1); /* Safari and Chrome */
    /*-moz-transform:scale(1.1); /* Firefox */
    /*-ms-transform:scale(1.1); /* IE 9 */
    /*-o-transform:scale(1.1); /* Opera */
     /*transform:scale(1.1);*/
     /*font-weight: 400;*/
/*}*/

/*Hide navigation */
/*.nav {
   display: none !important;
 }
*/












